<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>

      <form method="POST" action="/api/postplay">
        <div class="input-group">
          <label for="action-select">Action:</label>
          <select id="action-select" name="action">
            <option>Select action....</option>
            <% for (let i = 0; i < actions.length; i++) { %>
            <option value="<%= actions[i].action_id %>">
              <%= actions[i].label %>
            </option>
            <% } %>
          </select>
        </div>

        <div class="input-group">
          <label for="player-select">Player:</label>
          <select id="player-select" name="player">
            <option>Select player...</option>
            <% for (let i = 0; i < players.length; i++) { %>
            <option value="<%= players[i].player_id %>">
              <%= players[i].name %>
            </option>
            <% } %>
          </select>
        </div>

        <div class="input-group">
          <label for="date-input">Date:</label>
          <input type="date" id="date-input" name="date" />
        </div>

        <div class="submit-button">
          <button type="submit" class="button">Submit</button>
        </div>
      </form>
    </div>
    <script src="/postPlayer.js"></script>
  </body>
</html>
